/* 화면을 꾸미는 css */

.header {
    text-align: center ;
    height: 10rem ;
    margin: 1rem ;
    font-family: 'Nanum Myeongjo', serif;
}

.footer {
    text-align: center ;
    height: 0.8rem ;
    margin: 1rem;
}